* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 50px 0;
}

.box {
  width: 300px;
  height: auto;
  padding: 10px;
  background-color: #eeeeee;
  position: relative;
  margin-right: 30px;
}

.box:last-child {
  margin-right: 0px;
}

.image1 {
  width: 280px;
  height: 150px;
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.image2 {
  width: 280px;
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.image3 {
  width: 280px;
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
}

.text {
  padding: 15px 0 5px 0;
}

.text-a {
  font-size: 12px;
}

.category {
  display: inline-block;
  padding: 2px 0;
  font-size: 11px;
  background-color: #ff9a4b;
  color: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #aaaaaa;
}
